*{
    margin: 0;
    padding: 0;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: "Figtree";
}

.page{
    display: flex;
    margin: 0;
    padding: 0;
}

.form-part{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 70px;
    /* justify-content: center; */
}

.image-part{
    width: 50%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-items{
    padding: 8px 0 8px 0;
}

.ptag{
    color: #AAADB2;
}

.stag{
    color: #1ED760;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
}

input, select{
    border-radius: 5px;
    border: 0.6px solid rgba(99, 109, 126, 0.60);
    padding: 12px;
    margin: 12px 0 24px 0;
}

input::placeholder, select::placeholder{
    font-family: "Figtree";
    color: #AAADB2;
}

input:focus{
    outline: 0.1px solid rgba(99, 109, 126, 0.60);
}

.or{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 24px 0;
}

.or hr{
    width: 50%;
    height: 0px;
    padding: 0 6px 0 6px;
    outline: 0.1px double rgba(99, 109, 126, 0.10);
    border: none;
}

.or p{
    padding: 0 12px 0 12px;
    color: #aaadb271;
}

button{
    cursor: pointer;
}
.sign-up{
    padding: 12px 0 12px 0;
    font-family: "Figtree";
    background-color: #1ED760;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.gicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 12px 0;
    font-family: "Figtree";
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    border: 0.3px solid #AAADB2;
}
.gimg{
    padding-right: 6px;
}
.account{
    display: flex;
    justify-content: center; 
    font-family: "Figtree";
}
.log{
    font-weight: bold;
    padding-left: 6px;
}